<fieldset>
  <div class="row">
    <!--[form:user]-->
<div class="form-element">
  <label for="user_nickname">Nickname</label>
  <%= text_field 'user', 'nickname' , {:class=>"text-input"} %>
</div>

<!--[eoform:user]-->

  </div>
</fieldset>